In [1]:
import pandas as pd
from sklearn.ensemble import  AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [3]:
#read csv files 
loan_data=pd.read_csv("income.csv")
loan_data.columns
loan_data.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [4]:
#Let us split the data in input and output
x=loan_data.iloc[:,0:6]
y=loan_data.iloc[:,6]

In [5]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [6]:
ada_model=AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [7]:
model=ada_model.fit(X_train,y_train)

In [8]:
y_pred=model.predict(X_test)

In [9]:
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.8380591667519706

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
lr=LogisticRegression()

In [20]:
#here base model is  changed
Ada_model=AdaBoostClassifier(n_estimators=50,base_estimator=lr,learning_rate=1)

In [26]:
model=Ada_model.fit(X_train,y_train)

In [27]:
y_pred=model.predict(X_test)

In [28]:
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.7982393284880746