3.Problem Satement : Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.


-----------------------------------------------------------------------------------------------------------------------------------------------------------

1.1 Business Objective 

Goal:

To assess if the buyer ratios between males and females vary across different regions.
Understanding whether the purchasing pattern remains consistent across regions can help in designing region-specific marketing strategies.
___________________________________________________________________________________________________________________________________________________________

1.2 Constraints 

Sampling Bias:
Data collected might not be representative of all buyers in each region.

Sample Size Limitation:
Small sample sizes may not provide accurate inference.

Data Accuracy:
Errors in data entry could impact the outcome of the test.

Time Sensitivity:
Business decisions may need to be made quickly, requiring timely analysis.
_________________________________________________________________________________________________________________________________________________________

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
data=pd.read_csv("BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
#Now will check shape of the data
data.shape

(2, 5)

In [12]:
#Data Dictionary 
#Observe Values=Categorical
#East=Discreate
#West=Discreate
#North=Discreate
#South=Discreate

In [14]:
#Data Preprocessing
#first we will check the datatype
data.dtypes

Observed Values    object
East                int64
West                int64
North               int64
South               int64
dtype: object

In [16]:
data.columns

Index(['Observed Values', 'East', 'West', 'North', 'South'], dtype='object')

In [18]:
#Check the null values
data.isna().sum() 
#from ouput we can see there are 0 null values

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [20]:
data.describe() #by this we came to know min ,max,std,mean 25%,75%,50%

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [28]:
import scipy.stats as stats

In [30]:
# Extracting data for contingency table
contingency_table = data.set_index('Observed Values')
print("\nContingency Table:\n", contingency_table)

Contingency Table:
                  East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [32]:
# ============================
# Hypothesis Testing: Chi-Square Test
# ============================
# Perform Chi-Square Test of Independence
chi2_stat, p_value, dof, expected = stats.chi2_contingency(contingency_table)

print("\nChi-Square Test Results:")
print(f"Chi-Square Statistic = {chi2_stat:.4f}")
print(f"p-value = {p_value:.4f}")
print(f"Degrees of Freedom = {dof}")
print("\nExpected Frequencies Table:\n", pd.DataFrame(expected, 
                                                     index=['Males', 'Females'], 
                                                     columns=['East', 'West', 'North', 'South']))

Chi-Square Test Results:
Chi-Square Statistic = 1.5959
p-value = 0.6603
Degrees of Freedom = 3

Expected Frequencies Table:
                East         West        North       South
Males     42.765313   146.812879   131.117568   72.304241
Females  442.234687  1518.187121  1355.882432  747.695759

In [34]:
# ============================
# Final Inference
# ============================
alpha = 0.05
if p_value <= alpha:
    print("\nConclusion: Reject the null hypothesis. Male-female buyer ratios are significantly different across regions.")
else:
    print("\nConclusion: Fail to reject the null hypothesis. Male-female buyer ratios are similar across regions.")

Conclusion: Fail to reject the null hypothesis. Male-female buyer ratios are similar across regions.